@charset "UTF-8";
/* CSS Document */


body {
	
	font-family: 'Quicksand', sans-serif;
}

/* Font Styles */

h1 {
	
	font-size:35px;
	text-align:center;
	font-weight: 300;
}

h2 {
	
	font-size:30px;
	text-align:center;
	font-weight: normal;
	line-height: 60px;
	padding-bottom: 30px;
}
	
	
	
.emphasis {
	
	font-family: 'Old Standard TT', serif; 
	font-style: italic;
	font-size: 48px;
	color:#ff4b22;
}

.free-guide {
	
	font-family: 'Old Standard TT', serif;
	font-size: 30px;
	color:#ff4b22;
	text-align:center;
	padding: 20px;
}

.boost {
	
	font-family:'Quicksand', sans-serif; 
	font-size: 25px; 
	color:#ff4b22;
}




/* Header */

header {
	
	text-align:center;
	background-color:#FFF;
	padding-top: 20px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 20px;
}



/* Navigation */

nav {

    padding:0; 
    list-style:none;
    text-align: center;

}

ul li {
	list-style: none;
	display: inline-block;
	padding-right: 30px;

}

ul li a {
	
	text-decoration: none;
	text-transform: uppercase;
	color: #ff4b22;
}

.social {
	
	float: left;	
}

.login-cart {
	
	background-color: #faebe5;
	padding: 10px;
	
}


/* Links */

a:hover {
	
	text-decoration:underline;
}

a:active {
	
	text-decoration:underline;
}



/*Welcome Section */


.welcome {

  background-image: url(img/welcomebg.png);
  min-height:270px; 
  width: 100%;
  line-height: 70px;
  text-align: center;
  padding-bottom: 90px;
  padding-top: 90px;
  border-bottom: 3px solid #000;
}


.optin {
	
	background-color:#FFF;
	border-bottom: 3px solid #000;

}


/*About Section */

.about {
	
	background-image:url(img/about-bg.png);
	background-repeat: no-repeat;
	background-color:#faebe5;
	background-size:cover;
	min-height: 499px;
	width: 100%;
	margin-top: 0px;
	padding: 0px;

}

.about-right {
	
	padding: 20px;
	width: 30%;
	display: inline-block;
	float: right; 
	margin-right: 200px;
	margin-top: 20px;
}

.about-text {
	
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	background-color: #000;
	color: #FFF;
	font-weight: normal; 
	font-style: italic;
	line-height: 40px;
	padding: 30px;
	width: 380px;

}

.about-left {
	
	width: 70%;
	display:inline-block;
	float: left;
}


/*Offers Section */

.offers {
	
	padding: 30px;
	border-bottom: 3px solid #000;
	min-height: 768px;

}

.column-1 {
	
	width:33.3%;
	display:inline-block;
	float: left;
	text-align:center;
}

.column-2 {

	width:33.3%;
	text-align:center;	
	display:inline-block;
	float: left;
}

.column-3 {
	
	width:33.3%;
	text-align:center;
	display:inline-block;
	float: left;
}

.bottom-image {
	
	padding-top: 40px;
	padding-bottom: 30px;
}


.lab {
	
	padding-top: 30px;
	background-image: url(img/welcomebg.png);
	min-height: 680px;
	width: 100%;
	text-align: center;
	border-bottom: 3px solid #000;
	
}

.bottom-text {
	
	background-color:#000;
	color: #FFF;
	text-align: center;
	padding: 30px;
	margin-top: 50px;
	display:inline-block;
	font-size: 24px;
	
}

footer {
	
	height: auto;
	background-color: #fff;
	text-align:center;
	padding: 20px;
	
}

footer li {
	
	font-size: 16px;
	color:#ff4b22; 
}



	
	